<% if session[:user_id] %>
    <div class='d-flex justify-content-end mb-2'>
        <!-- サインイン中のユーザの名前 -->
        <%= User.find(session[:user_id]).display_name %>
        <!-- 各種ボタン -->
        <%= link_to t('.signout'), session_path(session[:user_id]), method: :delete, class: 'btn btn-sm btn-primary mr-2' %>
        <%= link_to t('.signup'), new_user_path, class: 'btn btn-sm btn-secondary' %>
    </div>
    
<% else %>
    <!-- ユーザデータがデータベースに一つ以上記録されている場合 -->
    <% if User.all.any? %>
        <%= form_for :signin, url: sessions_path, html: {class: 'd-flex justify-content-end signin-form'} do |f| %>
            <%= f.text_field :signin_name, placeholder: 'signin_name', class: 'form_control from-control-sm' %>
            <%= f.text_field :password, placeholder: 'password', class: 'form_control from-control-sm' %>
            <%= f.submit t('.signin'), class: 'btn btn-sm btn-primary' %>
        <% end %>
    <% else %>
    <%= link_to t('.signup'), new_user_path, class: 'btn btn-sm btn-secondary' %>
    <% end %>
<% end %>